<!-- TITLE: Apple TV+ -->
<!-- ICON: https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Apple_TV_Plus_Logo.svg/340px-Apple_TV_Plus_Logo.svg.png -->
<!-- URL: https://tv.apple.com -->
<div class="col">
  <div
    class="card h-100 text-center"
    onclick="openStreamingApp('https://tv.apple.com')"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Apple_TV_Plus_Logo.svg/340px-Apple_TV_Plus_Logo.svg.png"
      class="card-img-top mx-auto mt-3"
      alt="Apple TV+"
    />
    <div class="card-body">
      <h5 class="card-title">Apple TV+</h5>
    </div>
  </div>
</div>
