<!-- TITLE: Crunchyroll -->
<!-- ICON: https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Crunchyroll_2024.svg/400px-Crunchyroll_2024.svg.png -->
<!-- URL: https://www.crunchyroll.com -->
<div class="col">
  <div
    class="card h-100 text-center"
    onclick="openStreamingApp('https://www.crunchyroll.com')"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Crunchyroll_2024.svg/400px-Crunchyroll_2024.svg.png"
      class="card-img-top mx-auto mt-3"
      alt="Crunchyroll"
    />
    <div class="card-body">
      <h5 class="card-title">Crunchyroll</h5>
    </div>
  </div>
</div>
