<!-- TITLE: Max -->
<!-- ICON: https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Max_logo.svg/400px-Max_logo.svg.png -->
<!-- URL: https://play.max.com -->
<div class="col">
  <div
    class="card h-100 text-center"
    onclick="openStreamingApp('https://play.max.com')"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Max_logo.svg/400px-Max_logo.svg.png"
      class="card-img-top mx-auto mt-3"
      alt="Max"
    />
    <div class="card-body">
      <h5 class="card-title">Max</h5>
    </div>
  </div>
</div>
