<!-- TITLE: Netflix -->
<!-- ICON: https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg -->
<!-- URL: https://www.netflix.com -->
<div class="col">
  <div
    class="card h-100 text-center"
    onclick="openStreamingApp('https://www.netflix.com')"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg"
      class="card-img-top mx-auto mt-3"
      alt="Netflix"
    />
    <div class="card-body">
      <h5 class="card-title">Netflix</h5>
    </div>
  </div>
</div>
