<!-- TITLE: Twitch -->
<!-- ICON: https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Twitch_logo_2019.svg/480px-Twitch_logo_2019.svg.png -->
<!-- URL: https://www.twitch.tv -->
<div class="col">
  <div
    class="card h-100 text-center"
    onclick="openStreamingApp('https://www.twitch.tv')"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Twitch_logo_2019.svg/480px-Twitch_logo_2019.svg.png"
      class="card-img-top mx-auto mt-3"
      alt="Twitch"
    />
    <div class="card-body">
      <h5 class="card-title">Twitch</h5>
    </div>
  </div>
</div>
